body {
  font-family: Arial, sans-serif;
  background-color: rgb(148, 135, 135);
}

.calculator {
  max-width: 300px;
  margin: 50px auto;
  padding: 10px;
  background-color: #7c3333;
  border-radius: 5px;
}

.display {
  font-size: 2em;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #a89494;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  padding: 10px;
  font-size: 1.5em;
  background-color: #e9e9e9;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}
   